# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# PyInstaller & Build artifacts
build/
dist/
Output_Installer/
*.zip

# Datos locales temporales y logs
logs/
data/

# Windows & OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
